<html>
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">Dzaky Zaydan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">   
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage:home' %}">home.</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage:about' %}">about.</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage:blog' %}">blog.</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage:contact' %}">contact.</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'story1:story1' %}">story1.</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'jadwal:jadwal' %}">schedule.</a>
                </li>
            </ul>
        </div>  
    </nav>
</html>